<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.womensafetyapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sms"></activity>
        <activity android:name=".Verify_OTP" />
        <activity android:name=".Profile" />
        <activity android:name=".Feeback" />
        <activity android:name=".ShakeApplication" />
        <activity android:name=".LowBatteryApplication" />
        <activity android:name=".CallingApplication" />
        <activity android:name=".AllCategories" />
        <activity android:name=".SetPassword" />
        <activity android:name=".Dashboard_1" />
        <activity android:name=".ForgotPasswordSuccess" />
        <activity android:name=".SetNewPassword" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".Signup3" />
        <activity android:name=".Signup" />
        <activity android:name=".UserDashboard" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>